/* Header  */

div.p-4.p-md-5.mb-4.text.white.rounded.bg-dark {
    margin-top: 80px;
    background-image: url(../img/bg-blog.png);
}

.head {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

div.col-md-6.px-0 {
    margin-top: 30px;
}

h1.display-4.fst-italic {
    color: #fff;
    font: 40px "Playfair Display";
    margin: 0px 0px 8px;
}


p.lead.my-3 {
    color: #fff;
    font: 20px system-ui;
    margin: 16px 0px;
}

/* Header End */

/* Product Card */

div.row.mb-2 {
    margin: 1px;
}

/* Product Card End */

.card-img-overlay {
    padding: 50px 50px;
}

.card-group {
    margin-top: 10px;
    margin: 10px 200px;
}

div.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative {
    margin-inline-end: 10px;
    margin-left: 10px;
}

div.col-md-6 {
    color: orange;
}

img.bd-placeholder-img {
    margin-top: 50px;
    margin-right: 50px;
}

p.card-text.mb-auto {
    color: white;
}

a.btn.btn-primary {
    background-color: orange;
    border: none;

}

/* Blog  */

h3.pb-4.mb-4.fst-italic.border-bottom {
    color: white;
}

article.blog-post {
    color: white;
}

div.p-4.mb-3.rounded {
    color: white;
    margin: 0px 0px 16px;
    padding: 24px;
}

/* End Blog */

/* Footer */
.container-fluid.footer-bg {
    background: orange;
}

a.footer-link {
    color: black !important;
}

h4.fst-italic {
    color: white;
}

#sosmed,
#archives {
    color: orange;
}

/* End Footer */

/* Checkout */

*,
*::after,
*::before {
    box-sizing: border-box;
}

p#qty {
    color: white;
}

.table-order {
    color: orange;
}

h4#order {
    color: orange;
}

div.col-sm-6 {
    color: coral !important;
}

h2 {
    color: coral;
    margin-top: 50px !important;
}

h4.mb-3 {
    color: coral;
}

hr.mb-3 {
    color: orange;
}

h4.ship-text {
    color: coral;
}

label.form-label {
    color: orange;
    padding: 0%;
}

label.drop-text {
    color: orange;
}

select.form-select {
    border-color: orange;
}


#flexRadioDefault1 {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 60px;
}

.div {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

main {
    display: block;
}

.pesanan {
    margin-bottom: 3%;
}


@media (min-width: 768px) {
    .pesanan {
        order: 6 !important;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 768px) {
    .col-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

@media (min-width: 768px) {
    .col-6 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
}

input.form-check-input {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 60px;
}

form.d-flex.flex-wrap {
    margin-top: 25px;
    margin-bottom: 25px;
}

hr {
    color: coral;
}

div.ongkir {
    background-color: #212529;
}

div.content.col-sm-3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: orange;
    background-color: #212529;
}

div.col-sm-3 {
    padding-top: 30px;
    padding-bottom: 0px;
}

textarea#address {
    border-color: coral;
    background: #202020;
}

select.form-select {
    border-color: coral;
    background: #202020;
}

.form-pembayaran h4 {
    color: coral;
    padding: 0%;
}

td.description {
    color: coral;
}

button.btn#payment {
    margin-top: 1%;
}

tr.total {
    color: coral;
}

div.card {
    border: none;
    background-color: #202020;
    color: white;
}

div.col-sm-4 {
    position: fixed;
    right: 100px;
}

form#card-ongkir::-webkit-scrollbar {
    display: none;
}

form#card-ongkir {
    display: flex;
    white-space: nowrap;
    overflow: scroll hidden;
}

input.form-control {
    background-color: #202020;
    border-color: rgb(60, 65, 68);
}

div.card.redeem {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

input#input-coupon {
    background-color: #202020;
    position: relative;
    flex: auto;
    padding: 5px;
    border: none;
    width: 1%;
    min-height: 0;
}

button#button-coupon {
    position: relative;
    z-index: 2;
    margin-top: 0px;
}

div#product-form {
    position: fixed;
    right: 200px;
}

div.card-body {
    border-radius: 10px;
    background-color: #212529;
}

form#redeem-coupon {
    display: flex;
    align-items: center;
}

/* Checkout End */

/* My Shopping */

.button-detail {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

div.button-detail {
    margin-top: -35px;
    margin-left: -100px;
    margin-bottom: -10px;
}

div.icon-category {
    display: flex;
}

.header {
    color: coral;
}

/* My Shopping End */


/* Cart Start */

.table.table-borderless {
    color: white;
}

/* Cart Emd */

/* Coming soon */

.main-area {
    position: relative;
    height: 100vh;
    z-index: 1;
    padding: 0 20px;
    color: #fff;
}

.center-text {
    text-align: center;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.title {
    color: #fff;
    font-size: 5em;
    line-height: 1;
    font-family: 'Kaushan Script', cursive;
    ;
}

.main-area .description {
    margin: 20px auto;
    max-width: 500px;
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
}

.main-area .button-home:hover {
    padding: 13px 35px;
    border-radius: 50px;
    border: 2px solid coral;
    color: black;
    background: coral;
    text-decoration: none;
}

.button-home {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* Coming soon end */

/* Invoice */



/* Invoice End */

/* Checkout Page */


/* Checkout Page End */