/* Header  */

div.p-4.p-md-5.mb-4.text.white.rounded.bg-dark{
    margin-top: 80px;
    background-image: url(../img/bg-blog.png);
}

.head{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

div.col-md-6.px-0{
    margin-top: 30px;
}

h1.display-4.fst-italic{
    color: #fff;
    font: 40px "Playfair Display";
    margin: 0px 0px 8px;
}


p.lead.my-3{
    color: #fff;
    font: 20px system-ui;
    margin: 16px 0px;
}
/* Header End */

/* Product Card */

div.row.mb-2{
    margin: 1px;
}
/* Product Card End */

.card-img-overlay{
    padding: 50px 50px;
}

.card-group{
    margin-top: 10px;
    margin: 10px 200px;
}

div.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative{
    margin-inline-end: 10px;
    margin-left: 10px;
}

div.col-md-6{
    color: orange;
}

img.bd-placeholder-img{
    margin-top: 50px;
    margin-right: 50px;
}

p.card-text.mb-auto{
    color: white;
}

a.btn.btn-primary{
    background-color: orange;
    border: none;
    
}

/* Blog  */

h3.pb-4.mb-4.fst-italic.border-bottom{
    color: white;
}

article.blog-post{
    color: white;
}

div.p-4.mb-3.rounded{
    color: white;
    margin: 0px 0px 16px;
    padding: 24px;
}

/* End Blog */

/* Footer */
.container-fluid.footer-bg{
    background: orange;
}

a.footer-link{
    color: black!important;
}

h4.fst-italic{
    color: white;
}

#sosmed, #archives{
    color: orange;
}

/* End Footer */

/* Checkout */

input{
    background: #202020;
    border-color: coral;
}

nav.navbar.navbar-default.fixed-top{
    background-color: #212529 !important;
}

input.form-control{
    background: #202020 !important;
}

div.col-sm-6{
    color: coral !important;
}

h2{
    color: coral;
    margin-top: 50px !important;
}

h4.mb-3{
    color: coral;
}

hr.mb-3{
    color: orange;
}

h4.ship-text{
    color: coral;
}

label.form-label{
    color: orange;
}

label.drop-text{
    color: orange;
}

select.form-select{
    border-color: orange;
}


#flexRadioDefault1{
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 60px;
}

input.form-check-input{
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 60px;
}

form.d-flex.flex-wrap{
    margin-top: 25px;
    margin-bottom: 25px;
}

input{
    background: #202020;
    border-color: coral;
}

hr{
    color: coral;
}

div.ongkir{
    background-color: #212529;
}

div.content.col-sm-3{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: orange;
    background-color: #212529;
}

div.col-sm-3{
    padding-top: 30px;
    padding-bottom: 0px;
}

textarea#address{
    border-color: coral;
    background: #202020;
}

select.form-select{
    border-color: coral;
    background: #202020;
}


h4{
    color: coral;
}

td.description{
    color: coral;
}

button.btn{
    margin-top: 10px;
}

tr.total{
    color: coral;
}

div.card{
    border: none;
    color: white;
    background-color: #202020;
}

div.col-sm-4{
    position: fixed;
    right: 100px;
}

form#card-ongkir::-webkit-scrollbar{
    display: none;
}

form#card-ongkir{ 
    display: flex;
    white-space: nowrap;
    overflow: scroll hidden;
    padding-bottom: 100px;
}

div.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

div.card.redeem{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

input#input-coupon{
    position: relative;
    flex: auto;
    padding: 5px;
    border: none;
    width: 1%;
    min-height: 0;
}

button#button-coupon{
    position: relative;
    z-index: 2;
    margin-top: 0px;
}

div#product-form{
    position: fixed;
    right: 200px;
}

div.card-body{
    border-radius: 10px;
    background-color: #212529;
}

div.container.second{
    margin-top: 30px;
}

form#redeem-coupon{
    display: flex;
    align-items: center;
}

/* Checkout End */