*{
    font-family: 'Gudea', sans-serif;
}

body{
    background-color: #000000;
    background-repeat: repeat-y;
    background-size: 100%;
}


.menu_side_custom{
    position: absolute;
    top: 65px;
    left: -200px;
    padding-top: 10px;
    background: #000000;
    width: auto;
    box-sizing: 0 5px 25px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transition: 0.5s;
    /* visibility: hidden;
    opacity: 0; */
}

.menu_side_custom.active{
    left: 6px;
    visibility: visible;
    opacity: 1;
}

.menu_side_custom ul{
    padding: 0;
}

.menu_side_custom ul li{
    list-style: none;
    padding: 10px 0;
}

.menu_side_custom ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.menu_side_custom ul li:hover a{
    color: #f0fcba;
}

.profile_custom{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
}

.drop_custom .profile_custom img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_custom{
    width: 70vh;
    height: 100%;
}

/* date picker */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  .coc-block-row {
      width: 100%;
      /*display:table-row;*/
  }
  .coc-block {
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 3px;
  }
  .coc-block-label {
    font-family: Verdana;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .coc-input {
    font-family: Calibri;
    height: 20px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #999;
    /* variations */
  }
  .coc-form {
      padding-top: 5px;
      padding-left: 8px;
  }
  